body {
  background-color: #17381f;
}

.sidebar{
  width: 30%;
  float: left;
  background-color: #70af80;
}

p {
  color: white;
}

img {
  width: 20%;
  float: right;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px green;
}
h2 {
  color: white;
}
